* {
	box-sizing: border-box;
	margin: 0;
}

header {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	font-family: "Roboto", sans-serif;
	font-size: 35px;
	color: rgb(47, 47, 126);

	background-color: rgb(241, 200, 64);
}

ul {
	display: flex;
	justify-content: space-around;
}

li {
	list-style: none;
	margin-left: 25px;
}
.container {
	width: 1500px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
